{% extends "main/header.html" %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xl-4 col-12">
            <div id="app">
                <form method="POST" class="post-form">
                    <div class="box">
                        <div class="box-body">
                            <h4 class="box-title">Add Log</h4>
                            {% csrf_token %}
                            <div>
                                <label>Facility:</label>
                                <n-select v-model:value="selectedFacilityId" label-field="name" value-field="id"
                                    filterable :options="{{facility_id_data}}" />
                            </div>
                            <input type="hidden" name="facility_id_name" v-model:value="selectedFacilityId">
                            <div>
                                <label>Activity:</label>
                                <n-select v-model:value="selectedActivityId" label-field="name" value-field="id"
                                    filterable :options="{{activity_id_data}}" />
                            </div>
                            <input type="hidden" name="activity_id_name" v-model:value="selectedActivityId">
                            {% for field in form %}
                            <div>
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                <ul class="errorlist">
                                    {% for error in field.errors %}
                                    <p class="text-danger ms-5">{{ error }}</p>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        <button type="submit" :disabled="!selectedFacilityId || !selectedActivityId"
                            class="waves-effect waves-light btn btn-sm btn-outline btn-primary">ADD</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-xl-8 col-12">
            <div class="box">
                <div class="box-header pb-0 no-border">
                    <h4 class="box-title">
                        Work Log
                    </h4>
                </div>

                <div class="box-body px-0">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <tbody>
                                <tr>
                                    <th>Date</th>
                                    <th>Facility</th>
                                    <th>Activity</th>
                                    <th>Volume</th>
                                    <th>Hours Worked</th>
                                    <th>Comments</th>
                                    <th>Earned Hours</th>
                                    <th>PGL</th>
                                </tr>
                                {% for worklog in worklogs %}
                                <tr>
                                    <td>{{worklog.date}}</td>
                                    <td>{{worklog.facility_id}}</td>
                                    <td>{{worklog.activity_id}}</td>
                                    <td>{{worklog.volume}}</td>
                                    <td>{{worklog.hours_worked}}</td>
                                    <td>{{worklog.comments}}</td>
                                    <td>{{worklog.earned_hours}}</td>
                                    <td>{{worklog.pgl}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block scripts %}
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/naive-ui"></script>
<script>
    const selectApp = {
        data() {
            return {
                selectedFacilityId: null,
                selectedActivityId: null,
            }
        },
        delimiters: ['[[', ']]'],
    }

    Vue.createApp(selectApp).use(naive).mount('#app')
</script>
{% endblock %}